<div class="col-md-12 col-ms-12">
  <% @posts.each do |post| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <div class="raw">
          <%= image_tag User.find(post.user_id).avatar.url(:tiny) %>
          <%= link_to "#{User.find(post.user_id).username}", "users/#{post.user_id}" %>
          <br>
          <%= link_to post.title, post %>
        </h3>
        </div>
        <div class="panel-body">
          <% if post.image? %>
            <%= image_tag post.image.url(:thumb) %>
          <% end %>
          <hr>
          <p><%= truncate(post.content, length:65) %></p>
          <strong>Submited <%= time_ago_in_words(post.created_at)%> ago</strong>
          <br>
          <% if user_signed_in? %>
            <%= link_to 'Edit', edit_post_path(post) %> |
            <%= link_to 'Delete', post_path(post), method: :delete,
             data: { confirm: "Are you sure?" } %>
          <% end %>
          </p>
          </tr>
      </div>
    </div>
  <% end %>
</div>
